body {
    background-color: #d0e4fe;
}
h1 {Text-align: center;
    width: 520px;
    padding: 10px;
    margin: 10px; 
    font-family: "Verdana";
    font-size: 40pt;
 }
 
 h2{
	font-family: "Verdana";    
	font-size: 20pt;
}

p { font-family: "Verdana";
    font-size: 40pt;
    font-family: "Verdana, Ariel bold";
    font-size: 20pt;
}

nav {
	font-family: "Verdana, Ariel bold";
    background-color: greenyellow;
    padding: 20px;
    color: black;
    font-size: 20pt;
	display: inline:
}

nav ol { 
    list-style-type: none;
    width: 600px
    margin: auto;
    text-align: center;}

nav ol li {
    display: inline;
    color: white;
    margin: 10px;
}

nav ol li a {
        text-decoration: none;
        color: black;
        font-family: verdana;
}

nav ol li a:hover {
        text-decoration : gray;
        color: ;
        font-family: verdana;
}
    

	


	

