body {
    background-color: #d0e4fe;
}
h1 {Text-align: center;
    width: 520px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
    font-family: "Verdana";
    font-size: 40pt;
 }
 
 h2{
	font-family: "Verdana";
	font-size: 20pt;
}

p { width: 1550px;
    border: 5px solid gray;
    margin: 0; 
    font-family: "Verdana";
    font-size: 40pt;
    font-family: "Verdana, Ariel bold";
    font-size: 20pt;
}

li {
	font-family: "Verdana, Ariel bold";
    font-size: 20pt;
	display: inline:
	width: 10px;
	length: 10px;
	Background-color: dark grey
}
	


	

